langchain
langchain_huggingface
faiss-cpu
pypdf
python-dotenv
streamlit
sentence_transformers
openai 
langchain-community
langchain_openai
ffmpeg-python
streamlit-audiorec
fastapi
pymongo
passlib[bcrypt]
python-jose
python-multipart
uvicorn[standard]
gunicorn
pydantic








